.tagmark {
    -fx-fill: gray;
}
.anytag {
    -fx-fill: crimson;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.attribute {
    -fx-fill: darkviolet;
}
.avalue {
    -fx-fill: black;
}

.comment {
	-fx-fill: teal;
}
.detected
{
    -fx-fill: rgb(62, 209, 62);
}
.mesureContent
{
    -fx-fill: blue; 
}
.guitar
{
    -fx-fill: #55D6BE ; 
}
.minorError
{
    -fx-fill: #eeff00 ; 
}
